* {
  box-sizing: border-box;
}

.quiz-container {
  width: 300px;
}

.question {
  display: none;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: #005792;
  color: #fff;
}

li {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}

header {
  padding: 20px;
  text-align: center;
  color: #fff;
  border-bottom: 5px solid #13293d;
  background-color: #879274;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

section {
  flex: 0 auto;
  padding: 20px;
  margin: 20px 0;
  background-color: #00bbf0;
  border-radius: 8px;
  width: 300px;
}

button {
  background-color: #ec610a;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 30px;
  text-align: center;
  width: 100%;
  max-width: 300px;
}

@media screen and (max-width: 1183px) {
  main {
      flex-direction: column;
      align-items: center;
  }
 
  section {
      width: 90%;
  }
}

@media screen and (max-width: 504px) {
  h2 {
      font-size: 24px;
  }

  button {
      font-size: 16px;
      padding: 10px 20px;
  }
}
